<script>
  $('form').submit(function(){
    $(this).slideUp(1000).hide();
  });
</script>
<h1>Editing Comment</h1>

<%#= @comment.errors.full_messages.join(", ") %>
<%= simple_form_for [@post, comment], remote: true do |f| %>
  <div class="text-left" >
    <%= f.input :body %>
  </div>
    <%= f.button :submit, class: "btn btn-large btn-primary" %>
<% end %>
