<%= @comment.errors.full_messages.join(", ") %>
<%= simple_form_for [@post, @comment], remote: true do |f| %>
<div class="text-left">
  <%= f.input :body %>
</div>
<%= f.button :submit, class: "btn btn-large btn-primary" %>
<% end %>
