<h1>Editing Comment</h1>

<%= @comment.errors.full_messages.join(", ") %>
<%= simple_form_for [@post, @comment] do |f| %>
  <div class="content text-left" >
    <%#= f.label :body %>
    <%= f.input :body %>
    <%= f.button :submit, class: "btn btn-large btn-primary" %>
  </div>
<% end %>
