<div class="bg"></div>
<div class="container">
  <div class="jumbotron">
    <div class="text-center" id="jumbotron-text">
      <h1>spread your experiences</h1>
      <p>Have some thoughts that you want to share? <br /> Give this app a try!</p>
    </div>
    <div class="col-md-6 col-sm-6 text-center">
      <a class="btn post" href="http://localhost:3000/posts/new">Create a Post</a>
    </div>
    <div class="col-md-6 col-sm-6 text-center">
      <a class="btn register" href="http://localhost:3000/users/new">Sign Up</a>
    </div>
  </div>
</div>
