/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_tree .
 *= require font-awesome
 *= bootstrap_and_overrides
 *= require_self
 *= require bootstrap-social
 */

 // @import "bootstrap-sprockets";
 @import "bootstrap";



li {
  list-style-type: none
}

// nav {
//   background-color: #b95524;
//   font-size: 25px;
//   height: 50px;
//   padding: 20px;
//   color: white;
//   text-align: center
// }
//

//
a:hover {
  color:#0e00ad;
  text-decoration: underline;
}

a {
  text-decoration: none;
  text-align: center;
  color: #3561d2;
}

.field_with_errors input {
  border-color: red
}

body {
  background-color: #f28175;
}

.jumbotron {
  max-width: 80%;
  margin: auto;
}


// .page_counter {
//   text-align: left;
//   margin: 30px 20px 0px 0px;
// }
//
// .posts_list {
//   margin-top: 30px;
// }
//
.flash-notice {
  width: 100%;
  height: 40px;
  background-color: green;
}

.flash-alert {
  width: 100%;
  height: 40px;
  background-color: red;
}

.control-label {
  display: block;
}

.checkbox {
  display: inline;
  margin: 5px;
}

.navbar.navbar-dark.bg-primary.navbar-fixed-top li a{
  color: white;
  margin: auto;
}

.navbar.navbar-dark.bg-primary.navbar-fixed-top li a:hover {
  background-color: #0038ff;
}
.navbar.navbar-dark.bg-primary.navbar-fixed-top {
  padding-right: 25px;
}

.btn.btn-social.btn-twitter {
  margin-top: 7px;
}
