/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_tree .
 *= require font-awesome
 *= bootstrap_and_overrides
 *= require_self
 *= require bootstrap-social
 */

 // @import "bootstrap-sprockets";
 @import "bootstrap";

 html, body {
   height: 100%;
   background-image: url(image-path('paper.png'));
   z-index: -2
 }


li {
  list-style-type: none
}

a:hover {
  color:#0e00ad;
  text-decoration: underline;
}

.container {
  text-align: center;
  min-height: 100%;
}

.content {
 min-height: 100%;
 padding-top: 50px;
}

.field_with_errors input {
  border-color: red
}

.jumbotron {
  max-width: 80%;
  margin: auto;
}

.flash-notice {
  width: 100%;
  height: 40px;
  background-color: green;
}

.flash-alert {
  width: 100%;
  height: 40px;
  background-color: red;
}

.control-label {
  display: block;
}

.checkbox {
  display: inline;
  margin: 5px;
}

.navbar.navbar-default.navbar-fixed-top li a{
  margin: auto;
}

.navbar.navbar-default.navbar-fixed-top li a:hover {
  background-color: #4d5053;
  color: white;
}

.btn.btn-social.btn-twitter {
  margin-top: 8px;
}

footer {
  padding: 25px 0;
  text-align: center;
  width: 100%;
  background: #D3D1D1;
  overflow: hidden;
  position: relative;
  bottom: 0px;
  margin-bottom: 0px;
}

footer a {
 font-size: 15px;
 color: #555;
}

footer a:hover {
 color: #fff;
 text-decoration: none;
}
